@page
@model SupermarketWEB.Pages.Paymodes.IndexModel
@{
    ViewData["Title"] = "Index Paymodes";
}

<h1>Index Paymodes</h1>

<p>
    <a asp-page="Create" class="btn btn-success">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Paymodes[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paymodes[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paymodes[0].Observation)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Paymodes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Observation)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                    <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>